[submodule "home/.zsh_plugins/zsh-z"]
	path = home/.zsh_plugins/zsh-z
	url = https://github.com/agkozak/zsh-z.git
[submodule "home/.zsh_plugins/zsh-autosuggestions"]
	path = home/.zsh_plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "home/.zsh_plugins/zsh-syntax-highlighting"]
	path = home/.zsh_plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "home/.zsh_plugins/common"]
	path = home/.zsh_plugins/common
	url = https://github.com/jackharrisonsherlock/common
