"*":
  "atom-beautify":
    executables:
      "php-cs-fixer":
        path: "/usr/local/Cellar/php-cs-fixer/2.14.0/bin/php-cs-fixer"
    general:
      _analyticsUserId: "46125e45-2f82-4827-ac7c-0adf2e84d789"
    html:
      beautify_on_save: true
    php:
      beautify_on_save: true
  "atom-minimap-titles":
    font: "ANSI Shadow"
  "city-lights-ui":
    fontSize: 13
    tabSize: "large"
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "wrap-guide"
      "autoflow"
      "go-to-line"
      "language-clojure"
      "language-go"
      "language-java"
      "language-make"
      "language-mustache"
      "language-perl"
      "language-objective-c"
      "language-ruby"
      "language-ruby-on-rails"
      "language-shellscript"
      "language-toml"
      "snippets"
      "autocomplete-snippets"
      "spell-check"
      "github"
    ]
    telemetryConsent: "limited"
    themes: [
      "city-lights-ui"
      "city-lights-syntax"
    ]
    titleBar: "custom"
  editor:
    fontFamily: "Inconsolata, Menlo, monospace"
    fontSize: 17
    lineHeight: 2
    softWrap: true
    tabType: "soft"
  "exception-reporting":
    userId: "9f3f3014-6c8a-4565-a038-cf86f15977d2"
  figletify:
    font: "Old Banner"
  linter:
    lintOnChangeInterval: 2000
  "linter-eslint":
    autofix:
      fixOnSave: true
      ignoreFixableRulesWhileTyping: true
    disabling:
      disableWhenNoEslintConfig: false
    lintHtmlFiles: true
  "linter-ui-default":
    showPanel: true
  "nord-atom-ui":
    darkerFormFocusEffect: true
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
    useEslint: true
    useStylelint: true
  "sass-autocompile":
    compactFilenamePattern: "../css/$1.css"
    compileCompact: true
    compileCompressed: false
    directlyJumpToError: true
    indentType: "Tab"
    indentWidth: 4
    notifications: "Notifications"
    showAdditionalCompilationInfo: false
  "sync-settings":
    _lastBackupHash: "48193de3f6aafb1eaa2c3ffdb6efb12dc064d994"
    gistId: "87c291ce3eaebaa7d5ff5c5485e68837"
    personalAccessToken: "5559828498b237ba795f87cda3449981e49849c9"
  "w3c-validation":
    validateOnSave: false
  welcome:
    showOnStartup: false
